:root {
  --secondary-color: #f9f7fe;
  --branding-color: #6c63ff;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

p {
  font-family: var(--default-font-family);
}

h1,
h3 {
  font-family: var(--heading-font-family);
  font-weight: bold !important;
  color: #000000 !important;
}

.hero {
  background-color: var(--secondary-color) !important;
  max-width: 100% !important;
  padding: 60px;
}

.hero p {
  font-weight: bold;
  margin: 0;
  color: #272142;
}

.hero h2 {
  font-family: var(--default-font-family);
  font-weight: normal;
  font-size: 14px;
}

.btn-branding {
  font-family: var(--default-font-family);
  font-weight: 500 !important;
  color: #fff !important;
  background-color: var(--branding-color) !important;
  border-radius: 4px !important;
  margin-top: 10px !important;
  text-transform: capitalize;
}

.project-detail {
  color: #272142;
  opacity: 70%;
}

.btn-branding-outline {
  font-family: var(--default-font-family);
  font-weight: 500 !important;
  color: var(--branding-color) !important;
  background-color: #fff !important;
  border: 1px solid var(--branding-color) !important;
  border-radius: 4px !important;
  margin-top: 10px !important;
}

.about-section h1 {
  font-weight: bold;
  font-size: 30px;
}

.about-section h2 {
  font-family: var(--default-font-family);
  font-weight: bold;
  font-size: 18px;
}

.about-section p {
  font-weight: normal;
  margin: 0;
  color: #272142;
  opacity: 70%;
}

@media (min-width: 440px) {
  h1 {
    font-size: 96px !important;
  }

  h3 {
    font-size: 64px !important;
  }

  p {
    font-size: 18px;
    color: #272142;
  }

  .hero {
    padding: 150px;
  }

  .hero p {
    font-size: 36px;
  }

  .hero h2 {
    font-size: 24px;
    line-height: 3.5 !important;
  }

  .btn-branding {
    font-size: 18px !important;
    padding: 15px 30px !important;
  }

  .btn-branding-outline {
    font-size: 16px !important;
    padding: 14px 30px !important;
  }

  .project-detail {
    font-size: 16px;
    line-height: 30px;
  }

  .about-section {
    padding: 120px;
  }

  .about-section h1 {
    font-size: 64px !important;
    line-height: 1.1;
  }

  .about-section h2 {
    font-size: 18px;
    line-height: 1.5 !important;
  }

  .about-section p {
    font-size: 16px;
    line-height: 30px;
  }
}

@media (min-width: 440px) and (max-width: 574px) {
  .about-section {
    padding: 60px;
    text-align: center;
  }
}
